.timer {
  display: flex;
  align-items: center;
  font-weight: 700;
  background-color: #080808;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  top: 34px;
  left: 34px;
  z-index: 1;
}

.timerButton {
  background: transparent;
  border: solid 1px #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 8px;
  padding: 8px;
}
